.banner {
    position: relative;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%; /* Le bandeau occupe toute la largeur */
    height: 150px; /* Hauteur du bandeau */
    background: #f5f5f5; /* Couleur de fond (facultatif) */
  }
  
  .bannerTrack {
    display: flex;
    width: max-content; /* Ajuste la largeur au contenu total */
    animation: bounceScroll 30s ease-in-out infinite; /* Animation bidirectionnelle */
  }
  
  .bannerImage {
    flex: 0 0 auto; /* Les images ne rétrécissent pas */
    width: 150px; /* Largeur fixe de chaque image */
    height: auto; /* Conserve le ratio de l'image */
    margin-right: 10px; /* Espace entre les images */
    border-radius: 10px; /* Coins arrondis */
    object-fit: cover; /* Adapte les images au conteneur */
  }
  
  /* Animation bidirectionnelle */
  @keyframes bounceScroll {
    0% {
      transform: translateX(0); /* Position initiale à gauche */
    }
    50% {
      transform: translateX(calc(-100% + 100vw)); /* Avance jusqu'à ce que la dernière image soit visible */
    }
    100% {
      transform: translateX(0); /* Retour à la position initiale */
    }
  }
  
  .bannerContainer {
    position: relative;
    width: 100%;
  }
  
  .agentName {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
  }
  